.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .logo-container {
    width: 50px;
    height: 30px;
  }

  .navbar-items-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }

  .sign-out {
    /* padding: 0.1rem; */
    text-transform: none;
  }
}
