.account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .account-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: #0077c8;

    .account-name-container {
      color: white;
    }

    .account-status-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      color: white;

      .active {
        color: lightgreen;
      }

      .inactive {
        color: red;
      }
    }
  }
}
